.label-container {
    position: absolute;
    bottom: 20%;
    right: 1%;
    border-radius: 4px;
}

.label-content {
    display: flex;
    align-items: center;
    padding: 8px 38px;

    background-color: #0d0d0da9;
    color: white;
    font-size: 16px;
    font-family: inherit;
    font-weight: bold;
}