<div class="menu-container">
    <div class="menu-logo">
        <img src="../../../assets/img/ps-logo.png" alt="Playstation Logo">
    </div>
    <div class="menu-item">
        <ul>
            <li><a href="#">Novidades</a></li>
            <li><a href="#">Coleções</a></li>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">PS5</a></li>
            <li><a href="#">Assinaturas</a></li>
            <li><a href="#">Navegar</a></li>
        </ul>
    </div>
    <div class="menu-btn">
        <span><img src="../../../assets/img/icon-list.png" alt="List"></span>
    </div>
</div>